<h1>All listings</h1>
<div class = "row">
  <div class="col-sm-4s">
    <div class ="all-listings">
      <div class ="card-listing">
      <% @listings.each do |listing|%>
          <div class ="card-content">
             <%# <%= render 'shared/image', listing:listing %> 
          <p> <%=link_to listing.title, listing_path(listing)%></p>
          <p> <%=listing.description %></p>
          <p> <%=number_to_currency(listing.price) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


