

nav{
  padding:30px;
  margin-bottom:10px;
  background-color: black;
  color:white;
  text-align:center;
  text-decoration:none;


 
  a{
  text-decoration:none;
  color:white;
  display: inline
  }

  :hover{
    text-decoration: none;
  }

  .home-icon{
  float:left;
}
  .nav-top-right{
  float: right;
  margin-right:20px;
}

}


