
<div class = "user-details">
  <p>Name:<%= @user.name.capitalize %></p>
  <p><%=current_user.listings  %></p>
  <p> Comments: Please contact me via email <%= @user.email %> if you have any further questions regarding pickup or delivery. 
<div>

