.success-page{
  margin-top:100px;
  display:flex;
  justify-content: center;
  align-items: center;

}


.success{
  display:inline-block;
  background-color:#fff9ec;
  text-align:center;
  padding:100px;
}
