<h1> Cart </h1>
<% if !@cart  %>
<p> Cart is empty </p>
<% end  %>
<ul>
<% @cart.carts_listings.each do |listing| %>
<li> <%= listing.title %></li>
<li> <%= number_to_currency(listing.price) %></li>
</ul>
<p>Total:</p>

<% end %>
<%= link_to "Pay Now", "", id:"stripe" %>
<%= javascript_pack_tag "stripe" %>