<h1>Cart</h1>

<ul>
  <% @cart.each do |listing| %>
    <li><%= listing.title %> <%= number_to_currency(listing.price/100) %></li>
    
  <% end %>
</ul>
<p>Sorry! Cart currently unavailable. Please contact the user for payment options</p>
<%= link_to "Pay Now ", "", id: "stripe" %>

<%= javascript_pack_tag "stripe" %>

<% end  %>