.form-for-listings{
  display:flex;
  justify-content: center;
  align-content:center;
  background-color:#C9B7AD;
  padding-top:15px;
  padding-bottom:15px;
  border-radius:5%
}

.form-row{
  text-align:center;
}