h1{
  text-align:center;
}

.all-listings{
display:flex;
justify-content:center;
align-items:center;

}
.listings-row{
  display:flex;
 justify-content: center;
align-items: center;
min-width:1%;
 
}
.card-listing{
  display:flex;
  flex-wrap:wrap;
  flex-basis:auto;
  justify-content:center;
  align-items:center;

}

.card-content{
  border: black 1px solid;
  margin-right:20px;
  margin-left:20px;
  width:250px;
  margin-top:20px;
  word-wrap: break-word;



  img{
    height:250px;
    width:250px;
  }
}