h1{
  text-align:center;
}

.listings-row{
  display:flex;
  justify-content:center;
  align-items:center;
}
.card-listing{
  display:flex;
  flex-direction:wrap;
 

}

.card-content{
  border: black 1px solid;
  margin-right:20px;
  margin-left:20px;

  img{
    height:250px;
    width:250px;
  }
}